body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
.weui-cells{
  margin-top: 0px;
  line-height: 1.7;
}
#header{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 2.3rem;
  background-color: #27AE60;
  z-index: 10;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 2.3rem;

}
.weui-cells_form{
  margin-top: 2.2rem;
}
.weui-label{
  font-size: 14px;
}
.weui-cells__title{
  font-size: 14px;
  color: #000;
}
#contect{
  width: 100%;
  height: 100%;
  margin-top: 2.3rem; 
  min-height: 490px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}
.mintitle{
  font-size: 14px;
  color: #999;
  padding-top: 5px;
  padding-left: 5px;
}
.weui-cells{
  margin-top: 0px;
}
.weui-btn_primary {
    background-color: #27AE60;
    margin: 50px 7% 0 7%;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
}
.weui-cells .icon-user{
  color: #999;
}
#contect .repra{
  padding-top: 15px;
}
.weui-cells .weui-label {
    width: 90px;
}
.weui-cells .change{
  color: #27AE60;
}
.weui-cells .proname{
  width: 30px;
  height: 30px;
  border:1px solid #e6e6e6;
  border-radius: 50%;
  padding: 4px;
  margin:5px 0 -8px 5px;
}
.weui-cells .prove{
  width: 88px;
  height: 80px;
  text-align: center;
  float: left;
}
.weui-cells .prowork{
  padding: 2px 4px;
  background-color: #288DF0;
  color: #fff;
  font-size: 12px;
  border:1px #288DF0 solid;
  border-radius: 3px;
  margin-bottom: 5px;
}
.weui-cells .point {
    float: left;
    width: 25px;
    height: 17px;
    margin-top: 9%;
}
#div2{
  width: 100%;
  height: 100%;
  background-color:#fff;
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 99;
  transition: all 0.5s;
}
.weui-footer{
    padding-top: 5px;
    background-color: #ececec;
}
.weui-footer_fixed-bottom {
    bottom: 0;
}
.weui-footer ul {
  font-size: 12px;
  list-style:none;
  height: 2.3rem;
  display: flex;
}
.weui-footer ul li{
  flex: 1;
  float: left;
  height: 10%;
  padding-top:5px;
}

.weui-footer ul li span{
  vertical-align:middle;
  font-size: 22px;

}
.weui-footer ul li.active a{
  color: #27AE60;
}




